/* Configura la ruta de los iconos de bootstrap */
$bootstrap-icons-font-path: "/assets/fonts";

/* Importa Bootstrap y Bootstrap Icons */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

/* Configura específicamente los iconos */
@font-face {
    font-family: "bootstrap-icons";
    src: url("#{$bootstrap-icons-font-path}/bootstrap-icons.woff2") format("woff2"),
         url("#{$bootstrap-icons-font-path}/bootstrap-icons.woff") format("woff");
}